body {
  font: 14px;
  font-family: 'Karla', sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

nav {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  height: 5vh;
  padding: 0;
}

h1, h2, h4, a {
 color: darkgreen;
 text-align: center;
 margin: 0 auto;
}

