<%- include('../partials/header') %>


<form id="new-form" action="/songs" method="POST">
    <label>Song Title:</label>
        <input type="text" name="songName">
        <br>
    <label>Artist:</label>
        <input type="text" name="artist">
        <br>
    <label>Album</label>
        <input type="text" name="album">
        <br>
    <label>Note</label>
        <input type="text" name="songNote">
        <br>
    <label>Favorite?</label>
        <input type="checkbox" name="favorite" checked>
        <br>
    <label>Add to Playlist?</label>
    <select name="addToPlaylist">
        <% playlists.forEach(function(p) { %>
            <option value=""><%= p.playlistName %></option>
        <% }); %>
    </select>
    <br>
    <input type="submit" value="Add Song to Collection">
  </form>



<%- include('../partials/footer') %>