<%- include('./partials/header') %>


<form id="new-form" action="/songs" method="POST">
    <label>Song Title:</label>
        <input type="text" name="title">
    <label>Artist:</label>
        <input type="text" name="artist">
    <label>Album</label>
        <input type="text" name="album">
    <label>Note</label>
        <input type="text" name="note">
    <label>Favorite?</label>
        <input type="checkbox" name="favorite" checked>
    <label>Add to Playlist?</label>
    <select name="addToPlaylist">
        <option value=""></option>  <!-- Make Dynamic based on users created playlists? -->
    </select>
  </form>



<%- include('./partials/footer') %>