<%- include('../partials/header') %>

<h2 class="p-3 mb-2 bg-secondary text-white"> Add your favorite song(s) below</h2>
<h5 class="p-3 mb-2 bg-secondary text-white"> Don't forget to add a playlist or two as well!</h5>
<div class="container">
    <form id="new-form" action="/songs" method="POST">
        <label>Song Title:</label>
            <input type="text" name="songName">
        <br>
        <label>Artist:</label>
            <input type="text" name="artist">
        <br>
        <label>Note</label>
            <input type="text" name="songDescription">
        <br>
        <label>Add to Playlist?</label>
            <select name="addToPlaylist">
                <% playlists.forEach(function(p) { %>
                    <option value="<%= p._id%>"><%= p.playlistName %></option>
                <% }); %>
            </select>
        <br>
        <button type="submit button" class="btn btn-success" value="Add Song to Collection">Add Song to Collection</button>
    </form>
</div>

<%- include('../partials/footer') %>