<%- include('../partials/header') %>

<h2 class="p-3 mb-2 bg-secondary text-white"> Fill in the fields below to add a playlist</h2>
<div class="container">
    <form id="new-form" action="/playlists" method="POST">
        <label >Playlist Title</label>
            <input type="text" name="playlistName">
        <br>
        <label>Genres (Separate with commas)</label>
            <input type="text" name="genre">
        <br>
        <button type="submit button" class="btn btn-success" value="Add Playlist"> Add Playlist</button>
    </form>
</div>

<%- include('../partials/footer') %>
